@charset "UTF-8";

/* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    box-sizing: border-box;
    list-style-type: none;    
}

body {
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60rem;
    padding: 0px 20px;
}

.negrito {
    font-weight: 500;
    font-size: 1.2rem;
}

.cinzaClaro {
    color: grey;
    font-weight: 400;
    font-size: 2rem;
}

/*-----------------------------HEADER-----------------------------*/

a {
    text-decoration: none;
    margin-left: 16px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

p {
    font-weight: 320;
    font-size: 1.1em;
}

h3 {
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 500;
}

.shadow {
    box-shadow: 0px 0.125rem 0.25rem rgba(0,0,0, 0.075);
}

#menu {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 2px 0px #dee2e6;
}

#nomeEmpresa {
    display: block;    
    font-weight: 450;
    font-size: 1.28em;
}

#linksMenu {
    text-align: right;
    text-decoration: none;
}
.botaoVazado {
    border: 1px solid rgb(65, 65, 235);
    border-radius: 5px;
    color: rgb(65, 65, 235);    
}

#botaoMenu {
    padding:8px 13px;  
}

.botaoVazado:hover {    
    background-color: #007BFF;
    transition: ease-in 0.1s;
    text-decoration: none;
    color: white;
}
/*-----------------------------MAIN-----------------------------*/

#tituloMain {
    font-weight: 300;
    font-size: 3.5em;
    text-align: center;
    line-height: 1.2;
    padding-top: 3rem;
}

.containertxt {
    max-width: 700px;
    padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2.8rem;    
    margin: auto;
    line-height: 1.5;
    text-align: center;
}

#textoTopo {
    display: block;
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: 300;
}

#container {
    display: flex;
    justify-content: space-between;
    
}

.cardTopo {
    display: flex;
    flex-direction: column;
    width: 18em;
    height: 325px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.cardTopo>h2 {
    background-color: #F7F7F7;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    font-weight: 450;
}

.cardCorpo {
    flex-direction: column;
    display: flex;
}

.botaoCheio {
    border: 1px solid rgb(65, 65, 235);
    padding:8px 13px;
    border-radius: 5px;
    text-decoration: none;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 17px;
    align-items: center;
    background-color: #007BFF; 
    color: white;
}

.botaoCheio:hover {
    text-decoration: none;
    background-color: #0062ca;
    transition: ease-in 0.1s;
}

#botaoFree {
    border: 1px solid rgb(65, 65, 235);
    padding:8px 13px;
    border-radius: 5px;
    text-decoration: none;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 17px;
    align-items: center;
    font-size: 1.2rem;
}

.containerCard {
    display: flex; 
}

/*-----------------------------FOOTER-----------------------------*/
footer {
    display: block;
    max-width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid #dee2e6;
    margin-top: 4rem;
    padding-top: 50px;
}

#rodape {    
    width: 100%x;
    margin: auto;
}

#logo {
    float: left;
}

#logoBoot {
    
    width: 24px;
    height: 24px;
}

#ano {
    font-size: 0.85rem;
}

#linksRodape {
    width: 70%;
    display: flex;
    font-size: 1rem;
    float: center;
    justify-content: space-evenly;    
    margin-left: 10rem;
}

#linksRodape h4 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
}

#linksRodape a {
    color: #828487;
}



@media screen and (max-width: 576px) {             /*DISPOSITIVOS MÓVEIS*/
    body, html {
        width: 100vw;
    }

    header {
        width: 100vw;
    }

    section {
        width: 100vw;
    }

  

    #container {
        display: block;
    }

    .cardTopo {
        width: 100vw;
        margin: 15px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        padding: 0px;
    }

    #nomeEmpresa {
        display: block;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 7px;
    }

    #linksMenu {
        display: flex;
        font-size: 0.9rem;
        text-align: center;
        flex-direction: column;
        margin-top: 8px;
    }

    #linksMenu a {
        margin-top: 7px;
    }

    #botaoMenu {
        width: 85px;
        margin-top: 5px;
        padding: 3px 3px;
    }
    
    #rodape {
        display: flex;
        width: 95vw;
        
    }
    #linksRodape {
        width: 100vw;
        margin-left: 0.2rem;
        display: flex;
        font-size: 0.9rem;
        float: center;
        
    }
    
    #linksRodape h4 {
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        margin-left: 1rem;
        margin-bottom: 5px;
    }
}